<!-- Fields to define the product -->
<div class="row products">
    <div class="col-sm-7">
        <h2>Products</h2>
        <span class="fa fa-search"></span>
        <md-input-container>
            <input mdInput placeholder="Search" [(ngModel)]="textSearch">
        </md-input-container>
        <!-- Table containing all products-->
        <table class="table table-striped products-table">
            <tbody #listProducts>
                <tr *ngFor="let product of products | tableFilter: textSearch" (click)="selectRow($event)" on-mouseover="rowOver($event)">
                    <td>
                        {{product}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Lateral information about product image and resume -->
    <div class="col-sm-5 product-review">
        <div class="product-image">
            <img src="http://2.bp.blogspot.com/-Z07xwMbhKnI/UI_u87frzdI/AAAAAAAAATc/prQVFY8QWh4/s1600/untitled.bmp" width="200px" height="200px">
        </div>
        <div class="container-product-info">
            <div class="product-info">
                <p class="product-info-title">Basic Prices product description</p>
                <p>1 Kg: XX $</p>
                <p>1 doc: XX $</p>
                <p>1 saco: XX $</p>
            </div>
        </div>
    </div>
</div>

<!-- Fields to choose how many items do you want -->
<div class="row">
    <div class="col-12">
        <div>
            <h2>Amount Product</h2>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <div>
            <table class="table-amount">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Unit</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="amount" class="form-control product-input-amount" placeholder="Amount"></td>
                        <td>
                            <select class="form-control">
                                <option value="one">One</option>
                                <option value="two">Two</option>
                                <option value="three">Three</option>
                            </select>
                        </td>
                        <td><span>4 $</span></td>
                        <td><button class="btn btn-success" (click)="addProduct()" >Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Table about Orders -->
<div class="row">
    <div class="col-md-12">
        <div>
            <h2>Sale</h2>
        </div>
    </div>
</div>
<div class="row  justify-content-center">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Product</th>
                    <th>Unit price</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let value of product; let rowIndex = index'>
                    <!-- TODO: Find to better way to avoid null elements when the table start-->
                    <td *ngIf='value.amount'>{{value.amount}}</td>
                    <td *ngIf='value.product'>{{value.product}}</td>
                    <td *ngIf='value.price'>{{value.price}}</td>
                    <td *ngIf='value.total'>{{value.total}}</td>
                    <td *ngIf='value.product'>
                        <button (click)='deleteRow(rowIndex)' class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>{{sum_total}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-10 product-buttons">
        <button class="btn btn-primary">Done</button>
        <button class="btn btn-default">Clear</button>
    </div>
</div>