.products {
    margin-top: 20px;
}

.products-table {
    height: 300px;
    position: relative;
}

.products-table:hover {
    cursor: pointer;
}

.products-table tbody {
    overflow-y: scroll;
    position: absolute;
    height: 300px;
    width: 100%;
}

.products-table tbody tr {
    width: 100%;
    display: inline-table;
}

.product-review {
    text-align: center;
}

img {
    border-style: groove;
}

.product-info {
    border-style: groove;
    margin-left: 20%;
    margin-right: 20%;
}

.container-product-info {
    text-align: center;
}

.product-amount tr td {
    margin-right: 20px;
}