<!-- Fields to define the product -->
<div class="row products">
     <!-- Lateral information about product image and resume -->
    <div class="col-sm-4 product-review">
        <h2>Products</h2>
        <div class="product-image">
            <img src="http://2.bp.blogspot.com/-Z07xwMbhKnI/UI_u87frzdI/AAAAAAAAATc/prQVFY8QWh4/s1600/untitled.bmp" width="130px" height="130px">
        </div>
        <div class="container-product-info">
            <div class="product-info">
                <p>1 Kg: XX $</p>
                <p>1 doc: XX $</p>
                <p>1 saco: XX $</p>
            </div>
        </div>

        <div>
            <span class="fa fa-search"></span>
            <input class="form-control product-search fields-inline" placeholder="Search" [(ngModel)]="textSearch">
        </div>

        <!-- Table containing all products-->
        <table class="table table-striped products-table">
            <tbody #listProducts>
                <tr *ngFor="let product of products | tableFilter: textSearch" (click)="selectRow($event)" on-mouseover="rowOver($event)">
                    <td>
                        {{product}}
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- Main table, to sell products -->
    <div class="col-sm-6">
        
        <h2>Sale</h2>

        <!-- Fields to choose how many items do you want -->
        <input type="text" name="amount" class="form-control product-input-amount fields-inline">
        
        <select class="form-control fields-inline product-unit">
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
        </select>
        
        <span class="fields-inline">4 $</span>
        <button class="btn btn-success fields-inline" (click)="addProduct()" >Add</button>

        <table class="table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Product</th>
                    <th>Unit price</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let value of product; let rowIndex = index'>
                    <!-- TODO: Find to better way to avoid null elements when the table start-->
                    <td *ngIf='value.amount'>{{value.amount}}</td>
                    <td *ngIf='value.product'>{{value.product}}</td>
                    <td *ngIf='value.price'>{{value.price}}</td>
                    <td *ngIf='value.total'>{{value.total}}</td>
                    <td *ngIf='value.product'>
                        <button (click)='deleteRow(rowIndex)' class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
   
    <!-- Resume price-->
    <div class="col-sm-2">
        <div>
            <p>
                <label>Client: </label>
                <label>Defaul client</label>
                <button class="btn btn-default">Change Client</button>
            </p>
            <p>
                <label>Subtotal: </label>
                <label>XXX$</label>
            </p>
            <p>
                <label>IGV: </label>
                <label>XXX$</label>
            </p>
            <p>
                <label>Total: </label>
                <label>{{sum_total}}</label>
            </p>
        </div>
        <button class="btn btn-primary">Done</button>
        <button class="btn btn-default">Clear</button>
    </div>
</div>