.products {
    margin-top: 20px;
    width: 100%;
}

.products-table {
    height: 300px;
    position: relative;
}

.products-table:hover {
    cursor: pointer;
}

.products-table tbody {
    overflow-y: scroll;
    position: absolute;
    height: 300px;
    width: 100%;
}

.products-table tbody tr {
    width: 100%;
    display: inline-table;
}

.product-review {
    text-align: center;
}

.product-info {
    border-style: groove;
    margin-left: 20%;
    margin-right: 20%;
}

.container-product-info {
    text-align: center;
}

.product-buttons {
    text-align: center;
}

.product-buttons .btn {
    margin-left: 50px;
}

/* Fields to choose a product*/

.product-input-amount {
    width: 70px;
}

.product-search {
    width: 280px;
}

.product-unit {
    width: 100px;
}

.product-image {
    border-style: groove;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.product-info-title {
    font-weight: bold;
    color: grey;
}

.table-amount {
    border-spacing: 20px;
    border-collapse: separate;

}

.table-amount  td,
.table-amount th{
    width: 110px;
    text-align: center;
}

.fields-inline {
    display: inline;
}