<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="collapsed titleLB" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" id="aSales" (click)="eventLateralBar('aSales')">
                            Sales
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show">
                    <div class="card-block">
                        <table class="table">
                            <tr>
                                <td>
                                    <i class="fa fa-shopping-cart"></i><a href="#">Sales</a> 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-history"></i><a href="#">History</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="collapsed titleLB" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" id="aPurchases" (click)="eventLateralBar('aPurchases')">
                        Purchases
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse">
                    <div class="card-block">
                        <table class="table">
                            <tr>
                                <td>
                                    <i class="fa fa-shopping-cart"></i><a href="#">Purchases</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-history"></i><a href="#">History</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="collapsed titleLB" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" id="aReport" (click)="eventLateralBar('aReport')">
                            Report
                        </a>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse">
                    <div class="card-block">
                        <table class="table">
                            <tr>
                                <td>
                                    <i class="fa fa-shopping-cart"></i><a href="#">Sales</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-bolt"></i><a href="#">Products</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-money"></i><a href="#">Sellers</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="collapsed titleLB" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" id="aAdministration" (click)="eventLateralBar('aAdministration')">
                            Administration
                        </a>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse">
                    <div class="card-block">
                        <table class="table">
                            <tr>
                                <td>
                                    <i class="fa fa-lock"></i><a href="#">Account</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="titleLB" href="#" id="aSettings" (click)="eventLateralBar('aSettings')">
                            Settings
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
    
