<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="titleLB" id="aSales" (click)="eventLateralBar('aSales')" [routerLink]="['/sales']">
                            <i class="fa fa-shopping-cart"></i>Sales
                        </a>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="titleLB" id="aInventory" (click)="eventLateralBar('aInventory')" [routerLink]="['/inventory']">
                           <i class="fa fa-archive"></i>Inventory
                        </a>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="titleLB" id="aCustomer" (click)="eventLateralBar('aCustomer')" [routerLink]="['/customers']">
                            <i class="fa fa-user"></i>Customers
                        </a>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="titleLB"  id="aReport" (click)="eventLateralBar('aReport')" [routerLink]="['/reports']">
                            <i class="fa fa-line-chart"></i>Reports
                        </a>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="titleLB" id="aSettings" (click)="eventLateralBar('aSettings')" [routerLink]="['/settings']">
                            <i class="fa fa-cogs"></i>Settings
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
    
