<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="titleLB" id="aSales" (click)="eventLateralBar('aSales')">
                            <i class="fa fa-shopping-cart"></i><a href="#">Sales</a> 
                        </a>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="titleLB" id="aInventory" (click)="eventLateralBar('aInventory')">
                           <i class="fa fa-archive"></i><a href="#">Inventory</a> 
                        </a>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="titleLB" id="aCustomer" (click)="eventLateralBar('aCustomer')">
                            <i class="fa fa-user"></i><a href="#">Customers</a>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="titleLB"  id="aReport" (click)="eventLateralBar('aReport')">
                            <i class="fa fa-line-chart"></i><a href="#">Reports</a>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="titleLB" href="#" id="aSettings" (click)="eventLateralBar('aSettings')">
                            <i class="fa fa-cogs"></i><a href="#">Settings</a>
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
    
