.navbar-collapse li ul {
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #E6E6E6;
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
} 
.navbar-collapse li a:focus {
    background-color: white;
    color: black;
}
.navbar-collapse li ul li a:hover {
    background-color: #E6E6E6;
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
}
.dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
}

.fa {
    color: white;
    display: inline;
}

.nav-link {
    display: inline;
}

@media screen and (max-width: 991px) {
    .navbar-collapse li ul {
        left: 0px;
    } 
}
@media screen and (min-width: 992px) {
    .navbar-collapse li ul {
        left: -76px;
    } 
}