<div class="col-sm-8 offset-sm-2">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{'has-danger': f.submitted && !firstName.valid}">
            <label>First Name</label>
            <input type="text" class="form-control form-control-danger" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required>
            <div *ngIf="f.submitted && !firstName.valid" class="form-control-feedback">First Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{'has-danger': f.submitted && !lastName.valid}">
            <label>Last Name</label>
            <input type="text" class="form-control form-control-danger" name="lastname" [(ngModel)]="model.lastName" #lastName="ngModel" required>
            <div *ngIf="f.submitted && !lastName.valid" class="form-control-feedback">Last Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{'has-danger': f.submitted && !username.valid}">
            <label>Username</label>
            <input type="text" class="form-control form-control-danger" name="username" [(ngModel)]="model.username" #username="ngModel" required>
            <div *ngIf="f.submitted && !username.valid" class="form-control-feedback">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{'has-danger': f.submitted && !password.valid}">
            <label>Password</label>
            <input type="password" class="form-control form-control-danger" name="password" [(ngModel)]="model.password" #password="ngModel" required>
            <div *ngIf="f.submitted && !password.valid" class="form-control-feedback">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>